@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Righteous';
    src: url('fonts/Righteous-Regular.ttf');
}
@font-face {
    font-family: 'timesnewroman';
    src: url('fonts/times-new-roman.ttf');
}